body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0ffff;
}
header {
  background-color: yellowgreen;

  color: white;
  padding: 30px;
  background-size: cover;
  background-position: center;
}
header h1 {
  font-size: 40px;
  color: burlywood;
  margin-bottom: 20px;
}
header p {
  color: blanchedalmond;
  font-size: 25px;
  padding-bottom: 20px;
}
.action_Button {
  padding: 10px 20px;
  background-color: greenyellow;
  font-size: 17px;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.action_Button:hover {
  background-color: #c6f4d6;
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.feature {
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
